Repository MaterializeInc/terraform-provider-materialize: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-docs, gofmt, terraform-fmt

make-docs:
  name: Generate documentation
  entry: bash -c 'make docs'
  language: system
  pass_filenames: false

gofmt:
  name: Format Go code
  entry: gofmt -s -w
  language: system

terraform-fmt:
  name: Format Terraform files
  entry: bash -c 'terraform fmt -recursive -check -diff'
  language: system
  pass_filenames: false

Wait for SQL Server Agent before enabling CDC in the sqlserver fixture
  integration/sqlserver/entrypoint.sh
Due: none

Warn when wait_until_ready is skipped and clarify when it applies
  CHANGELOG.md
  docs/resources/cluster.md
  pkg/resources/resource_cluster.go
  pkg/resources/resource_cluster_test.go
Due: make-docs, gofmt

Only send WAIT UNTIL READY for cluster changes that create replicas
  CHANGELOG.md
  docs/resources/cluster.md
  pkg/provider/acceptance_cluster_test.go
  pkg/resources/resource_cluster.go
  pkg/resources/resource_cluster_test.go
Due: make-docs, gofmt

Do not send WAIT UNTIL READY when the supported option is being unset
  docs/resources/cluster.md
  pkg/provider/acceptance_cluster_test.go
  pkg/resources/resource_cluster.go
  pkg/resources/resource_cluster_test.go
Due: make-docs, gofmt

Update changelog for v0.11.8
  CHANGELOG.md
Due: none

fix(security): fix(deps): 5 vulnerable dependencies in go.mod
  go.mod
Due: none

Move the database driver from pgx v4 to pgx v5
  CHANGELOG.md
  go.mod
  go.sum
  pkg/materialize/cluster_test.go
  pkg/materialize/generic.go
  pkg/materialize/utils.go
  pkg/materialize/utils_test.go
  pkg/provider/provider.go
  pkg/testhelpers/mock_scans.go
Due: make-docs, gofmt

Percent-encode spaces in the connection string so the options survive
  CHANGELOG.md
  pkg/clients/db_client.go
  pkg/clients/db_client_test.go
Due: make-docs, gofmt

Support custom organization roles in SCIM group mappings
  docs/resources/scim_group_roles.md
  examples/resources/materialize_scim_group_roles/resource.tf
  pkg/frontegg/sso_default_roles.go
  pkg/frontegg/sso_default_roles_test.go
  pkg/resources/resource_scim_group_roles.go
  pkg/resources/resource_scim_group_roles_test.go
Due: make-docs, gofmt, terraform-fmt

docs: Identify reserved organization roles in SCIM mappings
  docs/resources/scim_group_roles.md
  examples/resources/materialize_scim_group_roles/resource.tf
  pkg/resources/resource_scim_group_roles.go
Due: make-docs, gofmt, terraform-fmt

Resolve ambiguous organization roles at lookup time
  docs/resources/scim_group_roles.md
  examples/resources/materialize_scim_group_roles/resource.tf
  pkg/frontegg/sso_default_roles.go
  pkg/frontegg/sso_default_roles_test.go
  pkg/provider/provider.go
  pkg/resources/resource_app_password.go
  pkg/resources/resource_scim_group_roles.go
  pkg/resources/resource_scim_group_roles_test.go
  pkg/resources/resource_sso_default_roles.go
  pkg/resources/resource_sso_default_roles_test.go
  pkg/resources/resource_sso_group_mapping.go
  pkg/resources/resource_sso_group_mapping_test.go
  pkg/resources/resource_user.go
  pkg/resources/resource_user_test.go
  pkg/testhelpers/helpers.go
  pkg/utils/provider_meta.go
  pkg/utils/provider_meta_test.go
Due: make-docs, gofmt, terraform-fmt

Remove the MinIO fixture now that its images are gone from every registry (DEX-133)
  CHANGELOG.md
  compose.yaml
  integration/connection.tf
  pkg/provider/acceptance_sink_iceberg_test.go
Due: make-docs, gofmt, terraform-fmt

Bump grpc to 1.83.2 to clear three reachable advisories
  CHANGELOG.md
  go.mod
  go.sum
Due: none

Handle missing roles when deleting SCIM mappings
  pkg/resources/resource_scim_group_roles.go
  pkg/resources/resource_scim_group_roles_test.go
  pkg/utils/provider_meta.go
  pkg/utils/provider_meta_test.go
Due: make-docs, gofmt

test: Update organization role lookup expectation
  pkg/resources/resource_organization_role_test.go
Due: make-docs, gofmt

Add tenant-scoped organization roles for SCIM mapping
  docs/resources/organization_role.md
  docs/resources/scim_group_roles.md
  examples/resources/materialize_organization_role/import.sh
  examples/resources/materialize_organization_role/resource.tf
  examples/resources/materialize_scim_group_roles/resource.tf
  pkg/frontegg/organization_role.go
  pkg/provider/provider.go
  pkg/resources/resource_organization_role.go
  pkg/resources/resource_organization_role_test.go
  pkg/utils/provider_meta.go
Due: make-docs, gofmt, terraform-fmt

docs: Clarify reserved built-in organization roles
  docs/resources/organization_role.md
  pkg/resources/resource_organization_role.go
Due: make-docs, gofmt

Fix imported organization roles and response cleanup
  docs/resources/organization_role.md
  pkg/frontegg/organization_role.go
  pkg/resources/resource_organization_role.go
  pkg/resources/resource_organization_role_test.go
Due: make-docs, gofmt

Clarify account role and database mapping docs
  docs/resources/organization_role.md
  examples/resources/materialize_organization_role/resource.tf
  pkg/resources/resource_organization_role.go
Due: make-docs, gofmt, terraform-fmt

Let scim_group_roles be destroyed after a referenced role is gone (DEX-135)
  CHANGELOG.md
  pkg/frontegg/sso_default_roles.go
  pkg/frontegg/sso_default_roles_test.go
  pkg/resources/resource_scim_group_roles.go
  pkg/resources/resource_scim_group_roles_test.go
Due: make-docs, gofmt

Let scim_group and scim_group_users recover once the group is gone (DEX-135)
  CHANGELOG.md
  pkg/resources/resource_scim_group.go
  pkg/resources/resource_scim_group_test.go
  pkg/resources/resource_scim_group_users.go
  pkg/resources/resource_scim_group_users_test.go
Due: make-docs, gofmt

Tidy the SCIM group tests and clarify the missing group message
  pkg/resources/resource_scim_group_users.go
  pkg/resources/resource_scim_group_users_test.go
Due: make-docs, gofmt

Drop an unused import in the SCIM group users tests
  pkg/resources/resource_scim_group_users_test.go
Due: make-docs, gofmt

Treat an already deleted SCIM config as gone on destroy
  pkg/resources/resource_scim_config.go
  pkg/resources/resource_scim_config_test.go
  pkg/resources/resource_scim_group_test.go
  pkg/resources/resource_scim_group_users_test.go
Due: make-docs, gofmt

Drop an unused import in the SCIM config tests
  pkg/resources/resource_scim_config_test.go
Due: make-docs, gofmt

Path conditions:
  make-docs: any of: \.(go|tf)$
  gofmt: any of: \.go$
  terraform-fmt: any of: \.tf$
