Repository MaterializeInc/terraform-provider-materialize: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-docs, gofmt, terraform-fmt

make-docs:
  name: Generate documentation
  entry: bash -c 'make docs'
  language: system
  pass_filenames: false

gofmt:
  name: Format Go code
  entry: gofmt -s -w
  language: system

terraform-fmt:
  name: Format Terraform files
  entry: bash -c 'terraform fmt -recursive -check -diff'
  language: system
  pass_filenames: false

Let scim_group and scim_group_users recover once the group is gone (DEX-135)
  CHANGELOG.md
  pkg/resources/resource_scim_group.go
  pkg/resources/resource_scim_group_test.go
  pkg/resources/resource_scim_group_users.go
  pkg/resources/resource_scim_group_users_test.go
Due: make-docs, gofmt

Tidy the SCIM group tests and clarify the missing group message
  pkg/resources/resource_scim_group_users.go
  pkg/resources/resource_scim_group_users_test.go
Due: make-docs, gofmt

Update changelog for v0.11.9
  CHANGELOG.md
Due: none

Fix a stale pgx v4 mention in the StringArray comment
  pkg/materialize/utils.go
Due: make-docs, gofmt

Read the in-flight cluster reconfiguration before mz_clusters so a finalize between the reads is not missed
  CHANGELOG.md
  pkg/materialize/cluster.go
  pkg/materialize/cluster_test.go
  pkg/resources/resource_cluster.go
  pkg/resources/resource_cluster_test.go
  pkg/resources/resource_source.go
  pkg/testhelpers/mock_scans.go
Due: make-docs, gofmt

Cover the by-id, by-name and settled paths of the reconfiguration scan
  CHANGELOG.md
  pkg/materialize/cluster_test.go
Due: make-docs, gofmt

docs: Match SCIM 2.0 groups in role mapping example
  docs/resources/scim_group_roles.md
  examples/resources/materialize_scim_group_roles/resource.tf
Due: make-docs, terraform-fmt

docs: Match only SCIM ownership values
  docs/resources/scim_group_roles.md
  examples/resources/materialize_scim_group_roles/resource.tf
Due: make-docs, terraform-fmt

Reject exclude_all_constraints with exclude_constraints in the plan instead of via ConflictsWith
  CHANGELOG.md
  docs/resources/source_table_postgres.md
  pkg/resources/resource_source_table_postgres.go
  pkg/resources/resource_source_table_postgres_test.go
Due: make-docs, gofmt

Add exclude_constraints and exclude_all_constraints to materialize_source_table_postgres
  CHANGELOG.md
  docs/resources/source_table_postgres.md
  examples/resources/materialize_source_table_postgres/resource.tf
  pkg/materialize/source_table_postgres.go
  pkg/materialize/source_table_postgres_test.go
  pkg/provider/acceptance_source_table_postgres_test.go
  pkg/resources/resource_source_table_postgres.go
  pkg/resources/resource_source_table_postgres_test.go
Due: make-docs, gofmt, terraform-fmt

Probe SQL Server Agent with a real job and repair CDC on untracked fixture tables
  CHANGELOG.md
  integration/sqlserver/entrypoint.sh
Due: none

Print the sqlserver fixture's readiness lines in CI so the probe and CDC repair are visible on green runs
  .github/workflows/acceptance.yml
  .github/workflows/integration-self-hosted.yml
  .github/workflows/integration.yml
Due: none

Restart sqlservr when it crashes before accepting connections in the CI fixture
  .github/workflows/acceptance.yml
  CHANGELOG.md
  integration/sqlserver/entrypoint.sh
Due: none

Parse the CDC table count strictly and restate why the bootstrap runs without -b
  CHANGELOG.md
  integration/sqlserver/entrypoint.sh
Due: none

Support Iceberg REST catalogs with OAuth credentials and sink MODE APPEND
  CHANGELOG.md
  docs/resources/connection_iceberg_catalog.md
  docs/resources/sink_iceberg.md
  examples/resources/materialize_connection_iceberg_catalog/resource.tf
  examples/resources/materialize_sink_iceberg/resource.tf
  pkg/materialize/connection_iceberg_catalog.go
  pkg/materialize/connection_iceberg_catalog_test.go
  pkg/materialize/sink_iceberg.go
  pkg/materialize/sink_iceberg_test.go
  pkg/provider/acceptance_connection_iceberg_catalog_test.go
  pkg/provider/acceptance_sink_iceberg_test.go
  pkg/resources/resource_connection_iceberg_catalog.go
  pkg/resources/resource_connection_iceberg_catalog_test.go
  pkg/resources/resource_sink.go
  pkg/resources/resource_sink_iceberg.go
  pkg/resources/resource_sink_iceberg_test.go
  pkg/testhelpers/mock_scans.go
Due: make-docs, gofmt, terraform-fmt

Deprecate aws_connection on materialize_sink_iceberg without recreating the sink when it is removed
  CHANGELOG.md
  docs/resources/sink_iceberg.md
  pkg/resources/resource_sink_iceberg.go
  pkg/resources/resource_sink_iceberg_test.go
Due: make-docs, gofmt

Check Iceberg catalog options and sink key rules in the plan and drop NOT ENFORCED without a KEY
  docs/resources/connection_iceberg_catalog.md
  docs/resources/sink_iceberg.md
  pkg/materialize/sink_iceberg.go
  pkg/materialize/sink_iceberg_test.go
  pkg/provider/acceptance_sink_iceberg_test.go
  pkg/resources/resource_connection_iceberg_catalog.go
  pkg/resources/resource_connection_iceberg_catalog_test.go
  pkg/resources/resource_sink_iceberg.go
  pkg/resources/resource_sink_iceberg_test.go
Due: make-docs, gofmt

Replace the Iceberg connection when its credential changes and tighten the s3tablesrest checks
  CHANGELOG.md
  integration/sink.tf
  pkg/materialize/connection.go
  pkg/resources/resource_connection_iceberg_catalog.go
  pkg/resources/resource_connection_iceberg_catalog_test.go
  pkg/resources/resource_sink_iceberg.go
  pkg/resources/resource_sink_iceberg_test.go
Due: make-docs, gofmt, terraform-fmt

Leave mode out of the older-provider state in the aws_connection test
  pkg/resources/resource_sink_iceberg_test.go
Due: make-docs, gofmt

Document how sink key columns treat case
  CHANGELOG.md
  docs/resources/sink_iceberg.md
  docs/resources/sink_kafka.md
  pkg/materialize/sink_iceberg_test.go
  pkg/materialize/sink_kafka_test.go
  pkg/resources/resource_sink_iceberg.go
  pkg/resources/resource_sink_kafka.go
Due: make-docs, gofmt

Do not replace the Iceberg connection when its credential secret is renamed
  pkg/resources/resource_connection_iceberg_catalog.go
  pkg/resources/resource_connection_iceberg_catalog_test.go
Due: make-docs, gofmt

Quote materialize_table column names so they are kept as written
  CHANGELOG.md
  docs/resources/table.md
  pkg/materialize/comment.go
  pkg/materialize/table.go
  pkg/materialize/table_test.go
  pkg/materialize/utils.go
  pkg/materialize/utils_test.go
  pkg/provider/acceptance_table_test.go
  pkg/resources/resource_table.go
  pkg/resources/resource_table_test.go
Due: make-docs, gofmt

Clarify the table nullable option and when to use materialize_user or materialize_role
  CHANGELOG.md
  docs/resources/role.md
  docs/resources/table.md
  docs/resources/user.md
  pkg/resources/resource_role.go
  pkg/resources/resource_table.go
  pkg/resources/resource_user.go
Due: make-docs, gofmt

Update changelog for v0.11.10
  CHANGELOG.md
Due: none

Path conditions:
  make-docs: any of: \.(go|tf)$
  gofmt: any of: \.go$
  terraform-fmt: any of: \.tf$
