Repository MaterializeInc/terraform-provider-materialize: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-docs, gofmt, terraform-fmt

make-docs:
  name: Generate documentation
  entry: bash -c 'make docs'
  language: system
  pass_filenames: false

gofmt:
  name: Format Go code
  entry: gofmt -s -w
  language: system

terraform-fmt:
  name: Format Terraform files
  entry: bash -c 'terraform fmt -recursive -check -diff'
  language: system
  pass_filenames: false

Honor snapshot = false on Kafka sinks
  CHANGELOG.md
  integration/sink.tf
  pkg/materialize/sink_kafka.go
  pkg/materialize/sink_kafka_test.go
  pkg/provider/acceptance_sink_kafka_test.go
  pkg/resources/resource_sink_kafka.go
  pkg/resources/resource_sink_kafka_test.go
Due: make-docs, gofmt, terraform-fmt

Harden Frontegg client logging, body cleanup, and password parsing
  CHANGELOG.md
  pkg/clients/frontegg_client.go
  pkg/clients/frontegg_client_test.go
Due: make-docs, gofmt

Stop treating cluster scan failures as unconfigured state
  CHANGELOG.md
  pkg/materialize/cluster.go
  pkg/materialize/cluster_test.go
  pkg/materialize/utils.go
  pkg/resources/resource_cluster.go
Due: make-docs, gofmt

Use the quoting helpers for hand-quoted SQL identifiers and literals
  .golangci.yml
  CHANGELOG.md
  pkg/materialize/generic.go
  pkg/materialize/ownership.go
  pkg/materialize/ownership_test.go
  pkg/materialize/privilege_default_privilege.go
  pkg/materialize/source_kafka.go
  pkg/materialize/system_parameter.go
  pkg/materialize/system_parameter_test.go
  pkg/provider/acceptance_table_test.go
Due: make-docs, gofmt

Hold the optional role superuser flag as a pointer
  pkg/materialize/role.go
Due: make-docs, gofmt

Authorize API clients from a shared token source
  CHANGELOG.md
  pkg/clients/cloud_client.go
  pkg/clients/cloud_client_test.go
  pkg/clients/frontegg_client.go
  pkg/clients/frontegg_client_test.go
  pkg/clients/token_source.go
  pkg/clients/token_source_test.go
  pkg/datasources/datasource_region_test.go
  pkg/datasources/datasource_scim_configs_test.go
  pkg/datasources/datasource_scim_groups_test.go
  pkg/datasources/datasource_sso_config_test.go
  pkg/datasources/datasource_user_test.go
  pkg/frontegg/tenant_api_token_test.go
  pkg/frontegg/user.go
  pkg/frontegg/user_api_token_test.go
  pkg/frontegg/user_test.go
  pkg/resources/resource_app_password_test.go
  pkg/resources/resource_region_test.go
  pkg/resources/resource_scim_config_test.go
  pkg/resources/resource_scim_group_roles_test.go
  pkg/resources/resource_scim_group_test.go
  pkg/resources/resource_scim_group_users_test.go
  pkg/resources/resource_sso_config_test.go
  pkg/resources/resource_sso_default_roles_test.go
  pkg/resources/resource_sso_domain_test.go
  pkg/resources/resource_sso_group_mapping_test.go
  pkg/resources/resource_user_test.go
  pkg/testhelpers/helpers.go
  pkg/utils/provider_meta.go
  pkg/utils/provider_meta_test.go
Due: make-docs, gofmt

Bump golang.org/x/net for Go 1.27 compatibility
  go.mod
  go.sum
Due: none

Update changelog for v0.11.7
  CHANGELOG.md
Due: none

Warn when MZ_HOST silently selects self-hosted mode
  CHANGELOG.md
  docs/index.md
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  templates/index.md.tmpl
Due: make-docs, gofmt

Add an explicit connection mode to the provider
  CHANGELOG.md
  docs/index.md
  pkg/datasources/datasource_region.go
  pkg/datasources/datasource_region_test.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  pkg/resources/resource_region.go
  templates/index.md.tmpl
Due: make-docs, gofmt

Give the sqlserver healthcheck more headroom and log containers on failure
  .github/workflows/acceptance.yml
  .github/workflows/integration-self-hosted.yml
  .github/workflows/integration.yml
  compose.yaml
Due: none

Run the integration workflows when compose or their own definition changes
  .github/workflows/acceptance.yml
  .github/workflows/integration-self-hosted.yml
  .github/workflows/integration.yml
Due: none

Drop the start period change and capture healthcheck state on failure
  .github/workflows/acceptance.yml
  .github/workflows/integration-self-hosted.yml
  .github/workflows/integration.yml
  compose.yaml
Due: none

Wait for SQL Server Agent before enabling CDC in the sqlserver fixture
  integration/sqlserver/entrypoint.sh
Due: none

Re-resolve a cluster grant's id when the cluster was swapped or renamed
  pkg/resources/resource_grant.go
  pkg/resources/resource_grant_test.go
  pkg/testhelpers/mock_scans.go
Due: make-docs, gofmt

Remove a grant from state when the privilege is no longer present
  CHANGELOG.md
  pkg/materialize/privilege_test.go
  pkg/resources/resource_grant.go
  pkg/resources/resource_grant_test.go
  pkg/testhelpers/mock_scans.go
Due: make-docs, gofmt

Guard the cluster re-resolve when cluster_name is not in the schema
  pkg/resources/resource_grant.go
  pkg/resources/resource_grant_test.go
  pkg/testhelpers/mock_scans.go
Due: make-docs, gofmt

Key PUBLIC privileges under the pseudo-role id when reading grants
  CHANGELOG.md
  pkg/materialize/privilege.go
  pkg/materialize/privilege_test.go
  pkg/materialize/role.go
  pkg/testhelpers/mock_scans.go
Due: make-docs, gofmt

Remove system and default privileges from state when they are revoked
  CHANGELOG.md
  pkg/resources/resource_grant_default_privilege.go
  pkg/resources/resource_grant_system_privilege.go
  pkg/resources/resource_grant_system_privilege_test.go
Due: make-docs, gofmt

Do not send WAIT UNTIL READY when the supported option is being unset
  docs/resources/cluster.md
  pkg/provider/acceptance_cluster_test.go
  pkg/resources/resource_cluster.go
  pkg/resources/resource_cluster_test.go
Due: make-docs, gofmt

Only send WAIT UNTIL READY for cluster changes that create replicas
  CHANGELOG.md
  docs/resources/cluster.md
  pkg/provider/acceptance_cluster_test.go
  pkg/resources/resource_cluster.go
  pkg/resources/resource_cluster_test.go
Due: make-docs, gofmt

Warn when wait_until_ready is skipped and clarify when it applies
  CHANGELOG.md
  docs/resources/cluster.md
  pkg/resources/resource_cluster.go
  pkg/resources/resource_cluster_test.go
Due: make-docs, gofmt

Path conditions:
  make-docs: any of: \.(go|tf)$
  gofmt: any of: \.go$
  terraform-fmt: any of: \.tf$
