Repository MaterializeInc/terraform-provider-materialize: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-docs, gofmt, terraform-fmt

make-docs:
  name: Generate documentation
  entry: bash -c 'make docs'
  language: system
  pass_filenames: false

gofmt:
  name: Format Go code
  entry: gofmt -s -w
  language: system

terraform-fmt:
  name: Format Terraform files
  entry: bash -c 'terraform fmt -recursive -check -diff'
  language: system
  pass_filenames: false

Expand Dependabot to include GitHub Actions and Docker dependencies (#803)
  .github/dependabot.yml
Due: none

Replace deprecated archives.format with format_overrides in GoReleaser config (#752)
  .goreleaser.yml
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update CODEOWNERS to reflect new ownership
  .github/CODEOWNERS
Due: none

Fix Kafka source table REFERENCE to use string quoting for topic names
  pkg/materialize/source_table.go
  pkg/materialize/source_table_kafka_test.go
  pkg/provider/acceptance_source_kafka_test.go
  pkg/provider/acceptance_source_table_kafka_test.go
  pkg/resources/resource_source_table_kafka_test.go
Due: make-docs, gofmt

Make topic optional on materialize_source_kafka to support multi-topic sources
  docs/resources/source_kafka.md
  pkg/materialize/source_kafka.go
  pkg/materialize/source_kafka_test.go
  pkg/provider/acceptance_source_kafka_test.go
  pkg/resources/resource_source_kafka.go
  pkg/resources/resource_source_kafka_test.go
Due: make-docs, gofmt

Add unit and acceptance tests for Kafka source tables with dashed topic names
  pkg/materialize/source_table.go
  pkg/materialize/source_table_kafka_test.go
  pkg/provider/acceptance_source_table_kafka_test.go
  pkg/resources/resource_source_table_kafka_test.go
Due: make-docs, gofmt

Add validation that key_format and value_format must be used together on materialize_source_table_kafka
  pkg/resources/resource_source_table_kafka.go
Due: make-docs, gofmt

Remove localstack service
  .github/workflows/integration-self-hosted.yml
  compose.yaml
  integration/localstack/local_stack.sh
  integration/self_hosted/connection.tf
  pkg/provider/provider.go
Due: make-docs, gofmt, terraform-fmt

Bump Go version to 1.25
  Dockerfile
  README.md
  go.mod
  mocks/cloud/Dockerfile
  mocks/cloud/README.md
  mocks/cloud/go.mod
Due: none

Fix flaky Postgres acceptance tests
  pkg/provider/acceptance_source_table_postgres_test.go
Due: make-docs, gofmt

Bump tfplugindocs to v0.25.0 to fix expired GPG key
  go.mod
  go.sum
Due: none

Set binlog_row_metadata=full for MySQL integration
  integration/mysql/mysql.cnf
Due: none

Fix flaky TestAccDataSourceSourceTable_basic
  pkg/provider/acceptance_datasource_source_table_test.go
Due: make-docs, gofmt

Add 'options' override for Materialize provider
  pkg/clients/db_client.go
  pkg/clients/db_client_test.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
Due: make-docs, gofmt

Validate options, document OIDC/SSO usage
  CHANGELOG.md
  docs/index.md
  examples/provider/provider.tf
  pkg/provider/provider.go
  pkg/provider/provider_test.go
  templates/index.md.tmpl
Due: make-docs, gofmt, terraform-fmt

Harden options validation: case-insensitive reserved-key check + escape-order test
  pkg/clients/db_client_test.go
  pkg/provider/provider.go
  pkg/provider/provider_test.go
Due: make-docs, gofmt

Fix password and sslmode schema descriptions
  pkg/provider/provider.go
Due: make-docs, gofmt

Update changelog for v0.11.3
  CHANGELOG.md
Due: none

Add create_if_not_exists to materialize_role to adopt pre-existing (e.g. SSO/OIDC) roles
  docs/resources/role.md
  integration/role.tf
  pkg/provider/acceptance_role_test.go
  pkg/resources/resource_role.go
  pkg/resources/resource_role_test.go
  pkg/testhelpers/mock_scans.go
Due: make-docs, gofmt, terraform-fmt

Honor explicit login/superuser=false when adopting a role via raw config
  pkg/provider/acceptance_role_test.go
  pkg/resources/resource_role.go
  pkg/resources/resource_role_test.go
Due: make-docs, gofmt

Update changelog for v0.11.4
  CHANGELOG.md
Due: none

Add materialize-terraform-provider agent skill
  .claude/skills/materialize-terraform-provider/SKILL.md
Due: none

Path conditions:
  make-docs: any of: \.(go|tf)$
  gofmt: any of: \.go$
  terraform-fmt: any of: \.tf$
