Repository MaterializeInc/terraform-provider-materialize: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-docs, gofmt, terraform-fmt

make-docs:
  name: Generate documentation
  entry: bash -c 'make docs'
  language: system
  pass_filenames: false

gofmt:
  name: Format Go code
  entry: gofmt -s -w
  language: system

terraform-fmt:
  name: Format Terraform files
  entry: bash -c 'terraform fmt -recursive -check -diff'
  language: system
  pass_filenames: false

Add materialize-terraform-provider-dev agent skill
  .claude/skills/materialize-terraform-provider-dev/SKILL.md
Due: none

Fix skill: remove nonexistent materialize_sink_grant from grant list
  .claude/skills/materialize-terraform-provider/SKILL.md
Due: none

Add wildcard broker matching rules for Kafka PrivateLink connections
  CHANGELOG.md
  docs/resources/connection_kafka.md
  examples/resources/materialize_connection_kafka/resource.tf
  pkg/materialize/connection_kafka.go
  pkg/materialize/connection_kafka_test.go
  pkg/provider/acceptance_connection_kafka_test.go
  pkg/resources/resource_connection_kafka.go
  pkg/resources/resource_connection_kafka_test.go
Due: make-docs, gofmt, terraform-fmt

Reference PR 881 in changelog
  CHANGELOG.md
Due: none

Validate broker_matching_rule pattern and port client-side
  pkg/resources/resource_connection_kafka.go
  pkg/resources/resource_connection_kafka_test.go
Due: make-docs, gofmt

Trim changelog entry to one sentence
  CHANGELOG.md
Due: none

Add broker matching rules to integration tests
  integration/connection.tf
Due: make-docs, terraform-fmt

Guard PrivateLink clause in matching rule path for consistency
  pkg/materialize/connection_kafka.go
Due: make-docs, gofmt

Update changelog for v0.11.5
  CHANGELOG.md
Due: none

Update listener configs for per-route-group allowed_roles schema
  .github/listener_configs/no_auth.json
  .github/listener_configs/password.json
Due: none

Bump Go version to 1.26
  README.md
  go.mod
  mocks/cloud/README.md
  mocks/cloud/go.mod
Due: none

Fix integration fixtures: rename reserved role and pin SQL Server to 2022-latest
  integration/rbac_tutorial.tf
  integration/self_hosted/rbac_tutorial.tf
  integration/sqlserver/Dockerfile
Due: make-docs, terraform-fmt

Gate SQL Server healthcheck on CDC bootstrap completion and restore 2025-latest
  compose.yaml
  integration/sqlserver/Dockerfile
  integration/sqlserver/entrypoint.sh
Due: none

Reflect in-flight resize target for source size under v26.34 graceful resize
  CHANGELOG.md
  pkg/materialize/source.go
  pkg/resources/resource_source.go
  pkg/testhelpers/mock_scans.go
Due: make-docs, gofmt

Add cluster AUTO SCALING STRATEGY (hydration burst) support
  CHANGELOG.md
  docs/resources/cluster.md
  integration/cluster.tf
  pkg/materialize/cluster.go
  pkg/materialize/cluster_test.go
  pkg/provider/acceptance_cluster_test.go
  pkg/resources/resource_cluster.go
  pkg/resources/resource_cluster_test.go
  pkg/testhelpers/mock_scans.go
Due: make-docs, gofmt, terraform-fmt

Fix cluster resize drift and linger_duration read-back under v26.34 graceful resize
  CHANGELOG.md
  pkg/materialize/cluster.go
  pkg/provider/acceptance_cluster_test.go
  pkg/resources/resource_cluster.go
  pkg/resources/resource_cluster_test.go
  pkg/testhelpers/mock_scans.go
Due: make-docs, gofmt

Update changelog for v0.11.6
  CHANGELOG.md
Due: none

Tidy provider endpoint TODO comment
  pkg/provider/provider.go
Due: make-docs, gofmt

Remove dead provider API surface and stabilize ALTER option order
  CHANGELOG.md
  pkg/clients/cloud_client.go
  pkg/clients/cloud_client_test.go
  pkg/clients/frontegg_client.go
  pkg/clients/frontegg_client_test.go
  pkg/materialize/generic.go
  pkg/provider/provider.go
  pkg/resources/resource_cluster_replica_test.go
  pkg/resources/resource_cluster_test.go
  pkg/resources/resource_connection_test.go
  pkg/resources/resource_grant_cluster_default_privilege_test.go
  pkg/resources/resource_grant_cluster_test.go
  pkg/resources/resource_grant_connection_default_privilege_test.go
  pkg/resources/resource_grant_connection_test.go
  pkg/resources/resource_grant_database_default_privilege_test.go
  pkg/resources/resource_grant_database_test.go
  pkg/resources/resource_grant_default_privilege_test.go
  pkg/resources/resource_grant_materialized_view_test.go
  pkg/resources/resource_grant_role_test.go
  pkg/resources/resource_grant_schema_default_privilege_test.go
  pkg/resources/resource_grant_schema_test.go
  pkg/resources/resource_grant_secret_default_privilege_test.go
  pkg/resources/resource_grant_secret_test.go
  pkg/resources/resource_grant_source_test.go
  pkg/resources/resource_grant_system_privilege_test.go
  pkg/resources/resource_grant_table_default_privilege_test.go
  pkg/resources/resource_grant_table_test.go
  pkg/resources/resource_grant_test.go
  pkg/resources/resource_grant_type_default_privilege_test.go
  pkg/resources/resource_grant_type_test.go
  pkg/resources/resource_grant_view_test.go
  pkg/resources/resource_network_policy_test.go
  pkg/resources/resource_schema_test.go
  pkg/testhelpers/helpers.go
  pkg/utils/provider_meta.go
Due: make-docs, gofmt

Run vet and race tests in CI and enforce the coverage threshold
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .golangci.yml
  CHANGELOG.md
  GNUmakefile
Due: none

Honor snapshot = false on Kafka sinks
  CHANGELOG.md
  integration/sink.tf
  pkg/materialize/sink_kafka.go
  pkg/materialize/sink_kafka_test.go
  pkg/provider/acceptance_sink_kafka_test.go
  pkg/resources/resource_sink_kafka.go
  pkg/resources/resource_sink_kafka_test.go
Due: make-docs, gofmt, terraform-fmt

Path conditions:
  make-docs: any of: \.(go|tf)$
  gofmt: any of: \.go$
  terraform-fmt: any of: \.tf$
